html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /*Page Css*/

  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding:2rem;
}
  section{
    flex:1;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calculator-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    padding:20px;
}

.result-box{
    background-color: rgb(26, 23, 23);
    height: 50px;
    width: 100%;
}

.keys-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex:0, 0 , 200px;
    gap:20px;
    background-color: orange;
    padding:20px;
}

  .key,
  .operator{
    padding:10px;
    background-color: rgb(26, 23, 23);
    color:lightgoldenrodyellow;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 30%;
    text-align: center;
    font-weight: bold;
    font-size:20px;
  }